{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이 곳은 내 세상</title>
    <style>
        img{
        width: calc(100%/4);
        display: inline-block;
        vertical-align: left;
        }

    </style>
</head>
<body>
<h1>내 세상</h1>
<img src="{% static 'images/flower.jpg' %}" alt="">
<img src="{% static 'images/img.jpeg' %}" alt="">
<img src="{% static 'images/img6.jpg' %}" alt="">
<img src="{% static 'images/git1.gif' %}" alt="">
<img src="{% static 'images/babygif.gif' %}" alt="">
<img src="{% static 'images/1.jpg' %}" alt="">
<img src="{% static 'images/2.jpg' %}" alt="">
<img src="{% static 'images/3.jpg' %}" alt="">
<img src="{% static 'images/5.jpg' %}" alt="">

</body>
</html>